.l-about {
  > .c-cover {
    background: url('../assets/images/about-bg.jpg') no-repeat center center / cover;
  }

  > p {
    max-width: $content-max-width;
    margin: 30px auto 0;
    line-height: 1.6;
    text-align: justify;

    &:first-of-type {
      margin-top: 0;
    }

    @media #{$mq-tablet} {
      margin: 40px auto 0;
    }
  }
}
