.c-related-projects {
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
  margin-top: 80px;

  @media #{$mq-tablet} {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
  }

  > a {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    height: 150px;
    transition: 200ms cubic-bezier(0, 0, 0, 1), opacity 400ms cubic-bezier(0, 0, 0, 1);
    opacity: 1;
    will-change: transform, opacity;

    &:first-of-type {
      height: auto;
      margin-top: 10px;

      h3,
      .shadow,
      .background {
        display: none;
      }

      p {
        position: static;
        padding: 0;
        color: $color-3;
        text-shadow: none;
      }

      &:hover {
        transform: none;
      }
    }

    &:last-of-type p {
      right: 0;
      left: auto;
    }

    @media #{$mq-tablet} {
      flex-basis: calc(50% - 10px);
      opacity: .4;

      &:first-of-type {
        height: 150px;
        margin-top: 0;

        h3,
        .shadow,
        .background {
          display: block;
        }

        p {
          position: absolute;
          // We use a padding instead of a margin or a value to bottom so the hover
          // state is kept when moving the mouse between the image and the text
          padding-top: 10px;
        }

        &:hover {
          @include depth-scale;
          transition: transform 200ms cubic-bezier(0, 0, 0, 1), opacity 400ms cubic-bezier(0, 0, 0, 1);
          opacity: 1;
        }
      }
    }

    h3 {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      // We use a padding instead of a margin or a value to top so the hover
      // state is kept when moving the mouse between the image and the text
      padding: 0 0 10px;
      transform: translateY(-100%);
      color: $color-2;
      font-size: $font-size-medium;
      will-change: transform;

      @media #{$mq-tablet} {
        transform: translateY(0);
        transition: transform 200ms cubic-bezier(0, 0, 1, 0);
      }
    }

    p {
      @include text-legibility;

      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0;
      // This rule below is for the next link
      padding: 0 $wrapper-padding $wrapper-padding;
      color: $color-4;
      font-size: $font-size-medium;

      @media #{$mq-tablet} {
        // We use a padding instead of a margin or a value to bottom so the hover
        // state is kept when moving the mouse between the image and the text
        padding: 10px 0 0 0;
        transform: translateY(100%);
        color: $color-3;
        text-shadow: none;
      }
    }

    .shadow {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: scale(.96); // We want a small shadow around the cards
      transition: transform 80ms cubic-bezier(0, 0, 1, 0);
      box-shadow: 0 0 15px $color-9;
      // We reduce the opacity of the shadow to visually have it similar to the
      // ones of the featured projects
      opacity: .5;
    }

    .background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;

      @media #{$mq-tablet} {
        z-index: 1;
      }

      > div {
        @include depth-scale;

        width: 100%;
        height: 100%;
        transition: transform 200ms cubic-bezier(0, 0, 0, 1);
        background-color: $color-3;
        background-position: center center;
        background-size: cover;
      }
    }

    .gradient {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, transparent, $color-9 80%);

      @media #{$mq-tablet} {
        display: none;
      }
    }

    &:hover,
    &:focus {
      @include depth-scale;
      transition: transform 200ms cubic-bezier(0, 0, 0, 1), opacity 400ms cubic-bezier(0, 0, 0, 1);
      opacity: 1;

      h3 {
        transform: translateY(-100%) scale(#{ 1 / $depth-scale});
        transition: transform 200ms cubic-bezier(0, 0, 0, 1);
      }

      .shadow {
        @include reverse-depth-scale;
        transition: transform 80ms cubic-bezier(0, 0, 0, 1);
      }

      .background > div {
        @include reset-depth-scale;
        transition: transform 200ms cubic-bezier(0, 0, 0, 1);
      }
    }
  }
}
