<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }} {{ site.page-title-suffix }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "styles/shared.css" | relative_url}}" type="text/css">
    <link rel="stylesheet" href="{{ "styles/projects.css" | relative_url}}" type="text/css">
    <link rel="prefetch" href="{{ site.baseurl }}/">
    <link rel="prefetch" href="{{ "styles/homepage.css" | relative_url}}">
    <meta name="description" content="{{ page.description }}">
    <meta name="keywords" content="pablo armando rodriguez codes,pablo armando,parmandorc,portfolio,{{ page.keywords }}">
  </head>
  <body>
    {% include header.html %}

    <h1 class="c-title">{{ page.title }}</h1>

    <div class="l-project">
      {% assign name = page.path | split: "/" | last | split: "." | first %}
      <div class="video" {% unless page.video_id %}style="background-image: url('{{ site.baseurl }}/assets/images/{{ name }}/thumbnail.jpg');"{% endunless %}>
        {%if page.video_id %}
          <iframe type="text/html" src="https://www.youtube.com/embed/{{page.video_id}}?controls=0&modestbranding=1&rel=0&showinfo=0" frameborder="0"></iframe>
        {% endif %}
      </div>

      <div class="project-info">
        <div class="card">
          <div><span>Type</span> {{page.type}} {% unless page.type %}–{% endunless%}</div>
          <div><span>Position</span> {{page.position}} {% unless page.position %}–{% endunless%}</div>
          <div><span>Date</span> {{page.dates}} {% unless page.dates %}–{% endunless%}</div>
          <div class="links">
            <span>Links</span>
            <div>
              {% for link_hash in page.links %}
                {% for link in link_hash %}
                  <a href="{{ link[1] }}" target="_blank" rel="noopener">{{ link[0] }}</a>
                {% endfor %}
              {% endfor %}
              {% unless page.links %}–{% endunless%}
            </div>
          </div>
        </div>
        <ul class="c-tags-list">
          {% for tag in page.tags %}
            <li class="tag">{{ tag }}</li>
          {% endfor %}
        </div>
      </ul>

      <article>
        {{ content }}
      </article>
    </div>

    {% include footer.html %}
    <script defer src="{{ "assets/js/images.js" | relative_url }}"></script>
  </body>
</html>
