<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }} {{ site.page-title-suffix }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "styles/shared.css" | relative_url}}" type="text/css">
    <link rel="stylesheet" href="{{ "styles/projects.css" | relative_url}}" type="text/css">
    <link rel="prefetch" href="{{ site.baseurl }}/">
    <link rel="prefetch" href="{{ "styles/homepage.css" | relative_url}}">
    <meta name="description" content="{{ page.description }}">
    <meta name="keywords" content="pablo armando rodriguez codes,pablo armando,parmandorc,portfolio,{{ page.keywords }},{{ page.tags | join:',' }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@parmandorc">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image" content="http://parmandorc.github.io/portfolio/assets/images/{{ name }}thumbnail.jpg">
    <meta property="og:url" content="http://parmandorc.github.io/portfolio/">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:image" content="http://parmandorc.github.io/portfolio/assets/images/{{ name }}thumbnail.jpg">
  </head>
  <body>
    {% include header.html %}

    <h1 class="c-title">{{ page.title }}</h1>

    <div class="l-project">
      {% assign name = page.path | split: "/" | last | split: "." | first %}
      <div class="c-cover" {% unless page.video_id %}style="background-image: url('{{ site.baseurl }}/assets/images/{{ name }}/thumbnail.jpg');"{% endunless %}>
        {%if page.video_id %}
          <iframe type="text/html" src="https://www.youtube.com/embed/{{page.video_id}}?modestbranding=1&rel=0&showinfo=0" frameborder="0"></iframe>
        {% endif %}
      </div>

      <div class="project-info">
        <ul class="details">
          <li><span>Type</span> {{page.type}} {% unless page.type %}–{% endunless%}</li>
          <li><span>Position</span> {{page.position}} {% unless page.position %}–{% endunless%}</li>
          <li><span>Date</span> {{page.dates}} {% unless page.dates %}–{% endunless%}</li>
          <li class="links">
            <span>Links</span>
            <div>
              {% for link_hash in page.links %}
                {% for link in link_hash %}
                  <a href="{{ link[1] }}" target="_blank" rel="noopener">{{ link[0] }}</a>
                {% endfor %}
              {% endfor %}
              {% unless page.links %}–{% endunless%}
            </div>
          </li>
        </ul>
        <ul class="c-tags-list">
          {% for tag in page.tags %}
            <li class="tag -mini">{{ tag }}</li>
          {% endfor %}
        </ul>

      </div>

      <article class="c-content">
        {{ content }}
      </article>

      <nav class="c-related-projects">
        {% assign sorted_projects = site.projects | sort: "priority" %}

        {% for project in sorted_projects %}
          {% if project.title == page.title %}
            {% if forloop.index == 1 %}
              {% assign previous_project = sorted_projects | last %}
              {% assign next_project = sorted_projects[forloop.index] %}
            {% elsif forloop.index == sorted_projects.size %}
              {% assign previous_project = sorted_projects[previous_index] %}
              {% assign next_project = sorted_projects | first %}
            {% else %}
              {% assign previous_project = sorted_projects[previous_index] %}
              {% assign next_project = sorted_projects[forloop.index] %}
            {% endif %}
          {% endif %}
          {% assign previous_index = forloop.index0 %}
        {% endfor %}

        {% assign previous_name = previous_project.path | split: "/" | last | split: "." | first %}
        {% assign next_name = next_project.path | split: "/" | last | split: "." | first %}

        <a href="{{ site.baseurl }}{{previous_project.url}}" aria-label="Previous project: {{previous_project.title}}">
          <div class="shadow"></div>
          <div class="background">
            <div style="background-image: url('{{ site.baseurl }}/assets/images/{{ previous_name }}/thumbnail.jpg');"></div>
          </div>
          <h3>{{previous_project.title}}</h3>
          <p>← Previous</p>
        </a>

        <a href="{{ site.baseurl }}{{next_project.url}}" aria-label="Next project: {{next_project.title}}">
          <div class="shadow"></div>
          <div class="background">
            <div style="background-image: url('{{ site.baseurl }}/assets/images/{{ next_name }}/thumbnail.jpg');"></div>
          </div>
          <div class="gradient"></div>
          <h3>{{next_project.title}}</h3>
          <p>Next project →</p>
        </a>
      </nav>
    </div>

    {% include footer.html %}
    <script defer src="{{ "assets/js/images.js" | relative_url }}"></script>
  </body>
</html>
